@model ASPNETMVCCRUD.Models.AddProductViewModel
    <h1>
        Add Products
    </h1>
<form method="post" action="Add" class="mt-5">
  <div class="mb-3">
    <label for="">ProductName</label>
    <input type="text" class="form-control" asp-for="ProductName">
    
  </div>
  <div class="mb-3">
    <label for="">ProductPrice</label>
    <input type="text" class="form-control" asp-for="ProductPrice">
    
  </div>
  <div class="mb-3">
    <label for="">ProductAvailability</label>
    <input type="text" class="form-control" asp-for="ProductAvailability">
    
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>